extends index.pug

block main
  main
    section#archive-header
      header.hero(style='background-image: url(http://www.avegagroup.se/wp-content/uploads/2016/10/pennor.jpg)')
        h1
          small L&auml;s v&aring;r
          |  Blogg
      .taxonomies.container.group--large
        form(method='get', action='http://www.avegagroup.se/blogg/', data-filter-on-change='#posts article')
          div
            h3 Kategorier:
            ul.list--inline(data-collapsible='Visa alla', data-filter-on-group='')
              li
                span.checkbox-button
                  input#archive-header-taxonomies-category-all(type='radio', name='cat', value='', checked='')
                  |
                  label(for='archive-header-taxonomies-category-all') Alla
              li
                span.checkbox-button
                  input#archive-header-taxonomies-category-digital-strategi(type='radio', name='cat', value='70', data-filter-on-value='digital-strategi')
                  |
                  label(for='archive-header-taxonomies-category-digital-strategi') Digital strategi
              li
                span.checkbox-button
                  input#archive-header-taxonomies-category-krav-och-test(type='radio', name='cat', value='57', data-filter-on-value='krav-och-test')
                  |
                  label(for='archive-header-taxonomies-category-krav-och-test') Krav och test
              li
                span.checkbox-button
                  input#archive-header-taxonomies-category-safe(type='radio', name='cat', value='33', data-filter-on-value='safe')
                  |
                  label(for='archive-header-taxonomies-category-safe') SAFe
              li
                span.checkbox-button
                  input#archive-header-taxonomies-category-sap(type='radio', name='cat', value='35', data-filter-on-value='sap')
                  |
                  label(for='archive-header-taxonomies-category-sap') SAP
              li
                span.checkbox-button
                  input#archive-header-taxonomies-category-transformation(type='radio', name='cat', value='58', data-filter-on-value='transformation')
                  |
                  label(for='archive-header-taxonomies-category-transformation') Transformation
              li
                span.checkbox-button
                  input#archive-header-taxonomies-category-uncategorized(type='radio', name='cat', value='1', data-filter-on-value='uncategorized')
                  |
                  label(for='archive-header-taxonomies-category-uncategorized') Uncategorized
          div
            h3 Taggar:
            ul.list--inline(data-collapsible='Visa alla', data-filter-on-group='')
              li
                span.checkbox-button
                  input#archive-header-taxonomies-post_tag-all(type='radio', name='post_tag', value='', checked='')
                  |
                  label(for='archive-header-taxonomies-post_tag-all') Alla
              li
                span.checkbox-button
                  input#archive-header-taxonomies-post_tag-agilt(type='radio', name='post_tag', value='agilt', data-filter-on-value='agilt')
                  |
                  label(for='archive-header-taxonomies-post_tag-agilt') Agilt
              li
                span.checkbox-button
                  input#archive-header-taxonomies-post_tag-digitalisering(type='radio', name='post_tag', value='digitalisering', data-filter-on-value='digitalisering')
                  |
                  label(for='archive-header-taxonomies-post_tag-digitalisering') Digitalisering
              li
                span.checkbox-button
                  input#archive-header-taxonomies-post_tag-kanban(type='radio', name='post_tag', value='kanban', data-filter-on-value='kanban')
                  |
                  label(for='archive-header-taxonomies-post_tag-kanban') Kanban
              li
                span.checkbox-button
                  input#archive-header-taxonomies-post_tag-lean(type='radio', name='post_tag', value='lean', data-filter-on-value='lean')
                  |
                  label(for='archive-header-taxonomies-post_tag-lean') Lean
              li
                span.checkbox-button
                  input#archive-header-taxonomies-post_tag-safe(type='radio', name='post_tag', value='safe', data-filter-on-value='safe')
                  |
                  label(for='archive-header-taxonomies-post_tag-safe') SAFe
              li
                span.checkbox-button
                  input#archive-header-taxonomies-post_tag-sap-hana(type='radio', name='post_tag', value='sap-hana', data-filter-on-value='sap-hana')
                  |
                  label(for='archive-header-taxonomies-post_tag-sap-hana') SAP HANA
              li
                span.checkbox-button
                  input#archive-header-taxonomies-post_tag-scrum(type='radio', name='post_tag', value='scrum', data-filter-on-value='scrum')
                  |
                  label(for='archive-header-taxonomies-post_tag-scrum') Scrum
          p.submit
            input(type='submit', value='Ok')
    section#posts.container.group--x-large
      .inline-grid.inline-grid--3--bp-medium
        article.card.bg--white.card--media-small.sap.sap-hana.filter-on-change-target
          a.media(href='/blogg/sap-bw-pa-hana-hos-sj/')
            img.attachment-sleek-medium.size-sleek-medium.wp-post-image(width='540', height='320', src='/assets/artikel_sj_hana-540x320.jpg', alt='')
          a.link--neutral.content(href='/blogg/sap-bw-pa-hana-hos-sj/')
            p.color--gray
              span.color--orange SAP
              |  | 11 november, 2016
            h2 SAP BW p&aring; HANA hos SJ
          footer.card__footer
            a.cache-article(title='save for l8er', href='/blogg/sap-bw-pa-hana-hos-sj/')
              span.icon-file spara till senare

        article.card.bg--white.card--media-small.krav-och-test.filter-on-change-target
          a.media(href='/blogg/skapa-dialog-med-hjalp-av-bilder/')
            img.attachment-sleek-medium.size-sleek-medium.wp-post-image(width='540', height='320', src='/assets/griffeltavla-lampor-krita_1280-540x320.jpg', alt='')
          a.link--neutral.content(href='/blogg/skapa-dialog-med-hjalp-av-bilder/')
            p.color--gray
              span.color--orange Krav och test
              |  | 3 november, 2016
            h2 Skapa dialog med hj&auml;lp av bilder &ndash; om v&auml;rdet av visualisering

        article.card.bg--white.card--media-small.sap.filter-on-change-target
          a.media(href='/blogg/global-plm-plattform-pa-sandvik-machining-solutions/')
            img.attachment-sleek-medium.size-sleek-medium.wp-post-image(width='540', height='320', src='/assets/artikel_sap_thomasa-540x320.jpg', alt='')
          a.link--neutral.content(href='/blogg/global-plm-plattform-pa-sandvik-machining-solutions/')
            p.color--gray
              span.color--orange SAP
              |  | 28 oktober, 2016
            h2 Global PLM plattform p&aring; Sandvik Machining Solutions

block append scripts
  script(type='text/javascript', src="/assets/pushClient.js")
  script(type='text/javascript').
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('#{swPath}', {scope: '#{swScope}'})
          .then((reg) => {
            console.log('ServiceWorker registration successful with scope: ', reg.scope);
            push.subscribe(reg);
          })
          .catch((err) => console.log('ServiceWorker registration failed: ', err));
      });
    }
  script(type='text/javascript').
    const assets = {
      '/blogg/sap-bw-pa-hana-hos-sj/': [
        '/assets/artikel_sj_hana-1920x1080.jpg',
        '/assets/marcus-larsson-320x320.jpg',
      ],
      '/blogg/skapa-dialog-med-hjalp-av-bilder/': [
        '/assets/griffeltavla-lampor-krita_1280.jpg',
        '/assets/artikel_jromin.jpg',
        '/assets/artikel_johannar.jpg',
        '/assets/artikel_johanna.jpg',
        '/assets/artikel_johannaromin.jpg',
        '/assets/johanna-romin-320x320.jpg'
      ],
      '/blogg/global-plm-plattform-pa-sandvik-machining-solutions/': [
        '/assets/artikel_sap_thomasa.jpg',
        '/assets/thomas-andersson-320x320.jpg'
      ]
    };

    const btns = document.querySelectorAll('.cache-article');
    Array.from(btns)
      .forEach((el) => el.addEventListener('click', saveForL8er));

    function saveForL8er(evt) {
      evt.preventDefault();
      const url = new URL(this.href);
      caches.open('save-4-l8er').then((cache) => {
        cache.addAll(assets[url.pathname].concat(url.pathname))
          .then(() => console.log('Successfully saved for l8er'));
      });
    }
