doctype html
html#home-page.home.page.js(lang='sv-SE')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Vi &auml;r specialister inom verksamhetsutveckling och IT - Avega Group
    link(rel='dns-prefetch', href='http://ajax.googleapis.com/')
    link(rel='dns-prefetch', href='http://maps.googleapis.com/')
    link(rel='dns-prefetch', href='http://fonts.googleapis.com/')
    link(rel='dns-prefetch', href='http://s.w.org/')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway%3A300%2C500%2C700&ver=4.7.2')
    link(rel='stylesheet', href='/assets/all.css')
    link(rel='stylesheet', href='/assets/css')
    link(rel='https://api.w.org/', href='http://www.avegagroup.se/wp-json/')
    script.
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    link(rel='icon', href='/assets/cropped-favicon-64x64.png', sizes='32x32', type='image/png')
    link(rel='icon', href='/assets/cropped-favicon-320x320.png', sizes='192x192', type='image/png')
    link(rel='apple-touch-icon-precomposed', href='/assets/cropped-favicon-320x320.png')
    meta(name='msapplication-TileImage', content='/assets/cropped-favicon-320x320.png')
  body(cz-shortcut-listen='true')
    nav#pre-header
      #widget-search-3.widget_search
        form.search(method='get', action='/')
          p
            input(type='text', name='s', value='', placeholder='Sök på sidan')
            |
            button.icon-search(type='submit', title='Hitta')
      #widget-nav_menu-2.widget_nav_menu
        ul#menu-language-menu.menu
          li.dropdown.menu-in-english
            a(href='http://www.avegagroup.se/english/')
              | In English
              span.icon-dropdown-toggle
            ul.dropdown-menu
              li.menu-matching-principle
                a(href='http://www.avegagroup.se/english/matching-principle/') Matching principle
              li.menu-overall-framework
                a(href='http://www.avegagroup.se/english/overall-framework/') Overall framework
              li.menu-offerings
                a(href='http://www.avegagroup.se/english/offerings/') Offerings
              li.menu-contact
                a(href='http://www.avegagroup.se/english/contact/') Contact
              li.menu-senior-executives
                a(href='http://www.avegagroup.se/english/senior-executives/') Senior executives
              li.menu-elevate
                a(href='http://www.avegagroup.se/english/elevate/') Elevate
              li.menu-our-values
                a(href='http://www.avegagroup.se/english/our-values/') Our values
              li.menu-participation
                a(href='http://www.avegagroup.se/english/participation/') Participation
      #widget-nav_menu-3.widget_nav_menu
        ul#menu-social-menu.menu
          li.menu-
            a(href='/1')
              span.icon-facebook
          li.menu-
            a(href='/2')
              span.icon-linkedin
          li.menu-
            a(href='/3')
              span.icon-twitter
          li.menu-
            a(href='/4')
              span.icon-facebook
          li.menu-
            a(href='/5')
              span.icon-linkedin
          li.menu-
            a(href='/6')
              span.icon-twitter
      #widget-nav_menu-4.widget_nav_menu
        ul#menu-sub-menu.menu
          li.menu-nyheter-press
            a(href='http://www.avegagroup.se/press/') Nyheter &amp; press
          li.menu-investerare
            a(href='http://www.avegagroup.se/investerare/') Investerare
          li.menu-
            a(href='http://www.avegagroup.se/#widget-search-3')
              span.icon-search
    header#header.sticky--bp-large
      p.site-logo
        a(href='http://www.avegagroup.se/')
          svg#Layer_1(aria-label='Avega Group', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 330 40.1')
            style.
              .st0{clip-path:url(#SVGID_2_)}.st1,.st2,.st3{clip-path:url(#SVGID_4_)}.st2,.st3{fill:#a90a2e}.st3{fill:#c6c6c6}
            g#Artwork_1
              defs
                path#SVGID_1_(d='M0 0h330v40.1H0z')
              clippath#SVGID_2_
                use(xlink:href='#SVGID_1_', overflow='visible')
              g.st0
                defs
                  path#SVGID_3_(d='M0 0h330v40.1H0z')
                clippath#SVGID_4_
                  use(xlink:href='#SVGID_3_', overflow='visible')
                path.st1(d='M30.7 6.1c-.9-1.7-2.2-3-4-3.8C25 1.4 22.8 1 20.1 1h-2.9v27.1H32V12.6c0-2.6-.4-4.8-1.3-6.5M8.9 13.8c-.9 0-1.6-.1-2.3-.4-.7-.2-1.5-.7-2.3-1.3-1 .7-1.8 1.4-2.4 2.2C.6 15.8 0 17.6 0 19.7c0 1.2.2 2.3.7 3.3.4 1.1 1.1 1.9 1.9 2.6.8.7 1.7 1.3 2.9 1.8 1.1.4 2.3.7 3.6.7h5V11.5c-.8.8-1.6 1.4-2.4 1.8-.9.3-1.8.5-2.8.5')
                path.st2(d='M11.4 1.7c-.8-.4-1.7-.7-2.7-.7-1 0-1.9.3-2.7.8-.8.5-1.5 1.1-2 2-.5.8-.8 1.7-.8 2.7 0 1 .2 1.9.7 2.7.5.9 1.2 1.5 2 2 .9.6 1.8.8 2.8.8 1 0 1.9-.2 2.7-.7.9-.5 1.5-1.2 2-2s.7-1.7.7-2.8c0-1-.2-2-.7-2.8-.5-.8-1.1-1.5-2-2')
                path.st1(d='M173.7 6.1c-.9-1.7-2.2-3-4-3.8-1.8-.8-4-1.3-6.6-1.3h-2.9v27.1H175V12.6c0-2.6-.4-4.8-1.3-6.5M137.5 30.4c-.9 1.7-2.2 3-4 3.8-1.8.8-4 1.3-6.6 1.3H124V1h14.8v22.9c0 2.6-.4 4.8-1.3 6.5M151.9 13.8c-.9 0-1.6-.1-2.3-.4-.7-.2-1.5-.7-2.3-1.3-1 .7-1.8 1.4-2.4 2.2-1.2 1.5-1.9 3.3-1.9 5.3 0 1.3.2 2.4.7 3.3.4 1.1 1.1 1.9 1.9 2.6.8.7 1.7 1.3 2.9 1.8 1.1.4 2.3.7 3.6.7h5V11.5c-.8.8-1.6 1.4-2.4 1.8-.9.3-1.8.5-2.8.5')
                path.st1(d='M154.4 1.7c-.9-.5-1.8-.7-2.7-.7-.9 0-1.9.2-2.7.7-.8.5-1.5 1.1-2 2-.5.9-.7 1.8-.7 2.7 0 1 .2 1.9.7 2.7.5.9 1.2 1.5 2 2 .9.5 1.8.7 2.7.7 1 0 1.9-.2 2.7-.7.9-.5 1.5-1.2 2-2s.7-1.7.7-2.8c0-1-.2-2-.7-2.8-.5-.6-1.1-1.3-2-1.8M118.9.8c-7.6 0-13.7 6.1-13.7 13.7s6.1 13.7 13.7 13.7h1.8V.8h-1.8zM103 14.4C102.9 6.9 96.8.8 89.3.8h-.9v13.6H103z')
                path.st1(d='M100.9 18.2c-1.5 5.1-6.3 8.8-12 8.8h-3.5V.8h-1.2c-7.6 0-13.7 6.1-13.7 13.7s6.1 13.7 13.7 13.7h5.2c6.5 0 12-4.1 13.4-9.6l-1.9-.4zM69.7 1H54.2L62 20.5zM50.5 1H34.7l10.7 27.1H59l1.2-3.1z')
                path.st3(d='M295 1.2 292.6 15c-.3 1.8-.9 3.6-1.7 4.9-1.9 3.2-5.6 5.5-8.9 5.5-1.5 0-2.8-.5-3.7-1.3-.9-.9-1.3-2.1-1.3-3.7 0-1.4.1-3.4.4-5.1l2.4-14.1h-4.2l-2.8 16.7c-.2 1.1-.2 2.1-.2 2.9 0 4.9 3.1 8 8.1 8h.3c4.3 0 7.7-2 10.5-5.9l.3.1c-.6 1.3-.8 1.9-.9 2.7v.2l-.4 2h4.1l4.5-26.7H295zM216.1 1.2l-.4 2.5c-.1.5-.1 1.2-.1 1.6 0 .9 0 .9.1 1.5l-.3.1C213.7 2.4 210.5 0 206 0h-.2C198.1 0 192 7.1 192 16.2c0 2.5.7 5.3 1.8 7.3 1.9 3.4 5.2 5.2 9.6 5.2 3.4 0 6.2-1.4 8.7-5.1l.3.1c-1.1 9.5-3.8 13-9.9 13h-.1c-3.7 0-6.1-1.8-6.8-5.2h-4.8c.4 5 5.1 8.4 11.9 8.4 4.3 0 8.2-1.7 10.2-4.6 1.4-2 2.4-4.6 3-8.5L220.3 1h-4.2zM196.4 16c0-7.1 4.4-12.9 10-12.9 2.3 0 4.2.9 5.6 2.5 1.4 1.6 2.1 3.9 2.1 6.5 0 7.2-4.6 13.3-10.3 13.3-4.4.1-7.4-3.9-7.4-9.4M240.2.1h-.3c-4.4 0-7.6 2.2-10.4 7l-.2-.1c.6-1.6.8-2.4 1-3.3v-.2-.1l.3-2.2h-4.1L222 27.9h4.2l2.3-13.5c.5-3.1 1.6-5.4 3.7-7.1 2.1-1.8 5.1-3 7.4-3 .5 0 .8 0 1.3.1l.7-4c-.7-.2-1-.3-1.4-.3M319.1.1h-.3c-4 0-6.7 1.5-9.2 4.9l-.3-.1c.5-1.1.7-1.6.7-2 0-.1.1-.3.1-.4l.3-1.3h-4.2l-6.5 38.5h4.2l1.5-8.7c.6-4 .7-4.9 1-8.5l.3-.1c1.6 4.1 4.7 6.3 8.9 6.5h.8c4.5 0 7.8-1.9 10.4-5.9 2-3.1 3.2-7.1 3.2-10.6C330 4.7 325.9.1 319.1.1m-3.3 25.4c-2.4 0-4.5-.9-5.9-2.5-1.4-1.6-2.2-3.9-2.2-6.7 0-2.6.8-5.5 2.1-7.7 1.9-3.3 4.8-5.1 8.3-5.1 2.2 0 4.1.9 5.5 2.4 1.4 1.5 2.1 3.7 2.1 6.2.1 7.6-4.1 13.4-9.9 13.4M240.6 16.1c0 7.9 4.8 12.8 12.4 12.8 9.2 0 15.7-6.9 15.7-16.7 0-7.1-5.2-12.1-12.6-12.1-3.7 0-7 1.1-9.6 3.1-3.4 2.8-5.9 8.1-5.9 12.9m7.6-9c2-2.3 4.8-3.7 8-3.7 4.8 0 8.3 4 8.3 9.2 0 7.4-4.9 13.1-11.3 13.1-2.5 0-4.6-.9-6.1-2.5-1.4-1.6-2.2-4-2.2-6.9.1-3.7 1.3-6.9 3.3-9.2')
      a.burger-menu-icon(href='http://www.avegagroup.se/#header', data-toggle-hash='', title='Menu')
      nav
        #widget-nav_menu-5.widget_nav_menu
          ul#menu-main-menu.menu
            li.dropdown.menu-vilka-ar-avega
              a(href='http://www.avegagroup.se/vilka-ar-avega/')
                | Vilka &auml;r
                strong Avega
                span.icon-dropdown-toggle
              ul.dropdown-menu
                li.menu-om-oss
                  a(href='http://www.avegagroup.se/vilka-ar-avega/om-oss/') Om oss
                li.menu-specialistomraden
                  a(href='http://www.avegagroup.se/vilka-ar-avega/specialistomraden/') Specialistomr&aring;den
                li.menu-samhallsnytta
                  a(href='http://www.avegagroup.se/vilka-ar-avega/samhallsnytta/') Samh&auml;llsnytta
                li.menu-vara-varderingar
                  a(href='http://www.avegagroup.se/vilka-ar-avega/vara-varderingar/') V&aring;ra v&auml;rderingar
            li.mega.dropdown.menu-vad-vi-gor
              a(href='http://www.avegagroup.se/vad-vi-gor/')
                | Vad
                strong Vi g&ouml;r
                span.icon-dropdown-toggle
              ul.dropdown-menu
                li.dropdown.menu-transformation
                  a(href='http://www.avegagroup.se/vad-vi-gor/transformation/')
                    | Transformation
                    span.icon-dropdown-toggle
                  ul.dropdown-menu
                    li.menu-digital-strategi
                      a(href='http://www.avegagroup.se/vad-vi-gor/transformation/digital-strategi/') Digital Strategi
                    li.menu-agil-transformation
                      a(href='http://www.avegagroup.se/vad-vi-gor/transformation/agil-transformation/') Agil transformation
                    li.menu-strategisk-arkitektur
                      a(href='http://www.avegagroup.se/vad-vi-gor/transformation/strategisk-arkitektur/') Strategisk arkitektur
                    li.menu-strategirealisering
                      a(href='http://www.avegagroup.se/vad-vi-gor/transformation/strategirealisering/') Strategirealisering
                    li.menu-financial-performance-management
                      a(href='http://www.avegagroup.se/vad-vi-gor/transformation/financial-performance-management/') Financial Performance Management
                    li.menu-krav-och-testprocesser
                      a(href='http://www.avegagroup.se/vad-vi-gor/transformation/krav-testprocesser/') Krav- och testprocesser
                li.dropdown.menu-kundunika-losningar
                  a(href='http://www.avegagroup.se/vad-vi-gor/kundunika-losningar/')
                    | Kundunika l&ouml;sningar
                    span.icon-dropdown-toggle
                  ul.dropdown-menu
                    li.menu-systemutveckling-och-arkitektur
                      a(href='http://www.avegagroup.se/vad-vi-gor/kundunika-losningar/systemutveckling-och-arkitektur/') Systemutveckling och arkitektur
                    li.menu-infrastruktur
                      a(href='http://www.avegagroup.se/vad-vi-gor/kundunika-losningar/infrastruktur/') Infrastruktur
                li.dropdown.menu-standardplattformar
                  a(href='http://www.avegagroup.se/vad-vi-gor/standardplattformar/')
                    | Standardplattformar
                    span.icon-dropdown-toggle
                  ul.dropdown-menu
                    li.menu-sap
                      a(href='http://www.avegagroup.se/vad-vi-gor/standardplattformar/sap/') SAP
                    li.menu-oracle
                      a(href='http://www.avegagroup.se/vad-vi-gor/standardplattformar/oracle/') Oracle
                    li.menu-microsoft-dynamics
                      a(href='http://www.avegagroup.se/vad-vi-gor/standardplattformar/microsoft-dynamics/') Microsoft Dynamics
                    li.menu-microsoft-office-365-och-sharepoint
                      a(href='http://www.avegagroup.se/vad-vi-gor/standardplattformar/ms-sharepoint-och-office-365/') Microsoft Office 365 och SharePoint
                    li.menu-business-intelligence
                      a(href='http://www.avegagroup.se/vad-vi-gor/standardplattformar/business-intelligence/') Business Intelligence
            li.menu-vill-du-jobba-har
              a(href='http://www.avegagroup.se/jobba-har/')
                | Vill du
                strong Jobba h&auml;r
            li.menu-utvecklas-i-elevate
              a(href='http://www.avegagroup.se/event/')
                | Utvecklas i
                strong Elevate
            li.menu-las-var-blogg
              a(href='/blogg/')
                | L&auml;s v&aring;r
                strong Blogg
            li.menu-las-kundcase
              a(href='http://www.avegagroup.se/kundcase/')
                | L&auml;s
                strong Kundcase
            li.menu-ta-kontakt
              a(href='http://www.avegagroup.se/kontakta-oss/')
                | Ta
                strong Kontakt
        .pre-header
          #widget-nav_menu-7.widget_nav_menu
            ul#menu-sub-menu-1.menu
              li.menu-nyheter-press
                a(href='http://www.avegagroup.se/press/') Nyheter &amp; press
              li.menu-investerare
                a(href='http://www.avegagroup.se/investerare/') Investerare
              li.menu-
                a(href='http://www.avegagroup.se/#widget-search-3')
                  span.icon-search
          #widget-nav_menu-8.widget_nav_menu
            ul#menu-language-menu-1.menu
              li.dropdown.menu-in-english
                a(href='http://www.avegagroup.se/english/')
                  | In English
                  span.icon-dropdown-toggle
                ul.dropdown-menu
                  li.menu-matching-principle
                    a(href='http://www.avegagroup.se/english/matching-principle/') Matching principle
                  li.menu-overall-framework
                    a(href='http://www.avegagroup.se/english/overall-framework/') Overall framework
                  li.menu-offerings
                    a(href='http://www.avegagroup.se/english/offerings/') Offerings
                  li.menu-contact
                    a(href='http://www.avegagroup.se/english/contact/') Contact
                  li.menu-senior-executives
                    a(href='http://www.avegagroup.se/english/senior-executives/') Senior executives
                  li.menu-elevate
                    a(href='http://www.avegagroup.se/english/elevate/') Elevate
                  li.menu-our-values
                    a(href='http://www.avegagroup.se/english/our-values/') Our values
                  li.menu-participation
                    a(href='http://www.avegagroup.se/english/participation/') Participation
          #widget-nav_menu-9.widget_nav_menu
            ul#menu-social-menu-1.menu
              li.menu-
                a(target='_blank', href='https://www.facebook.com/AvegaGroup/')
                  span.icon-facebook
              li.menu-
                a(target='_blank', href='https://www.linkedin.com/company/avegagroup')
                  span.icon-linkedin
              li.menu-
                a(target='_blank', href='https://twitter.com/avegagroup')
                  span.icon-twitter
          #widget-search-4.widget_search
            form.search(method='get', action='/')
              p
                input(type='text', name='s', value='', placeholder='Sök på sidan')
                |
                button.icon-search(type='submit', title='Hitta')
    block main
      main
        section#page
          header.hero(style='background-image: url(/assets/women_2.jpg)')
            h1 #{headline}
            nav#buttons
              a.button.icon-arrow-right.icon--after.button--shadow(href='http://www.avegagroup.se/vilka-ar-avega/') L&auml;s mer om oss
              |
              a.button.icon-arrow-right.icon--after.button--ghost.button--white(href='http://www.avegagroup.se/jobba-har/') Vill du jobba h&auml;r?
        .container.group--large.primary-secondary.on-top-of-hero(role='toolbar')
          section#featured-posts.card.card--heading-offset.bg--white
            h2
              a(href='http://www.avegagroup.se/kundcase/kundcase-sveaskog/') Avega Group st&ouml;ttar Sveaskog i strategiskt v&auml;gval
            p
              | N&auml;r Sveaskog, Sveriges st&ouml;rsta skogs&auml;gare, beh&ouml;vde ta fram ett nytt system f&ouml;r planering av k&auml;rnprocessen Virkesfl&ouml;de stod valet mellan ett standardsystem eller en egenutvecklad l&ouml;sning. Avega Group fick uppdraget att som oberoende part ta fram underlag f&ouml;r beslutet. Avega fick &auml;ven f&ouml;rtroendet att agera systemarkitekt f&ouml;r det projekt som realiserar l&ouml;sningen i .Net.
            p.text--right
              a.button.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/kundcase/kundcase-sveaskog/') L&auml;sa hela kundcaset
          section#latest-events.card.card--small.bg--red.color--white.slick-initialized.slick-slider.slick-dotted(data-slideshow='')
            .slick-list.draggable(aria-live='polite', style='height: 200px;')
              .slick-track(style='opacity: 1; width: 1435px; transform: translate3d(-287px, 0px, 0px);', role='listbox')
                article.slick-slide.slick-cloned(data-slick-index='-1', aria-hidden='true', style='width: 287px;', tabindex='-1')
                  h2.heading--3
                    small F&ouml;rel&auml;sningar
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/rxjs/', tabindex='-1') Internt event: RxJS
                  p.text--right.color--yellow
                    time 16 februari, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
                article.slick-slide.slick-current.slick-active(data-slick-index='0', aria-hidden='false', style='width: 287px;', tabindex='-1', role='option', aria-describedby='slick-slide00')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/trender-inom-e-handel/', tabindex='0') Trender inom E-handel
                  p.text--right.color--yellow
                    time 13 februari, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='0') Till alla event
                article.slick-slide(data-slick-index='1', aria-hidden='true', style='width: 287px;', tabindex='-1', role='option', aria-describedby='slick-slide01')
                  h2.heading--3
                    small F&ouml;rel&auml;sningar
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/elevate-studiecirkel-arkitektur/', tabindex='-1') Internt event: Studiecirkel i IT-arkitektur
                  p.text--right.color--yellow
                    time 14 februari, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
                article.slick-slide(data-slick-index='2', aria-hidden='true', style='width: 287px;', tabindex='-1', role='option', aria-describedby='slick-slide02')
                  h2.heading--3
                    small F&ouml;rel&auml;sningar
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/rxjs/', tabindex='-1') Internt event: RxJS
                  p.text--right.color--yellow
                    time 16 februari, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
                article.slick-slide.slick-cloned(data-slick-index='3', aria-hidden='true', style='width: 287px;', tabindex='-1')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/trender-inom-e-handel/', tabindex='-1') Trender inom E-handel
                  p.text--right.color--yellow
                    time 13 februari, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
            ul.slick-dots(style='display: block;', role='tablist')
              li#slick-slide00.slick-active(aria-hidden='false', role='presentation', aria-selected='true', aria-controls='navigation00')
                button(type='button', data-role='none', role='button', tabindex='0') 1
              li#slick-slide01(aria-hidden='true', role='presentation', aria-selected='false', aria-controls='navigation01')
                button(type='button', data-role='none', role='button', tabindex='0') 2
              li#slick-slide02(aria-hidden='true', role='presentation', aria-selected='false', aria-controls='navigation02')
                button(type='button', data-role='none', role='button', tabindex='0') 3
        section#related-posts.container.group--x-large
          h2.group--large V&aring;ra tj&auml;nster
          article.card.card--media.card--media--hover.bg--white
            a.media(href='http://www.avegagroup.se/vad-vi-gor/transformation/')
              img.attachment-sleek-medium.size-sleek-medium.wp-post-image(width='540', height='320', src='/assets/penna-540x320.jpg', alt='penna')
            a.link--neutral.content(href='http://www.avegagroup.se/vad-vi-gor/transformation/')
              h3.heading--2.color--orange Transformation
              p
                | Vi st&ouml;djer kunden genom den transformation som kr&auml;vs f&ouml;r att realisera digitaliseringens m&ouml;jligheter.
              p
                | Vi tar strategi till taktisk och operativ realisering, utvecklar kundernas aff&auml;rer, processer och arkitektur, samt effektiviserar arbetss&auml;tt genom agila metoder.
              p.text--right
                strong.link.icon-arrow-right.icon--after L&auml;s mer
          article.card.card--media.card--media--hover.bg--white
            a.media(href='http://www.avegagroup.se/vad-vi-gor/standardplattformar/')
              img.attachment-sleek-medium.size-sleek-medium.wp-post-image(width='540', height='320', src='/assets/konferens-kopia-540x320.jpg', alt='konferens')
            a.link--neutral.content(href='http://www.avegagroup.se/vad-vi-gor/standardplattformar/')
              h3.heading--2.color--orange Standardplattformar
              p
                | Vi st&ouml;djer innovation, effektivisering och styrning av verksamheten genom upphandling, planering och inf&ouml;rande av aff&auml;rssystem och plattformar fr&aring;n SAP, Oracle och Microsoft.
              p.text--right
                strong.link.icon-arrow-right.icon--after L&auml;s mer
          article.card.card--media.card--media--hover.bg--white
            a.media(href='http://www.avegagroup.se/vad-vi-gor/kundunika-losningar/')
              img.attachment-sleek-medium.size-sleek-medium.wp-post-image(width='540', height='320', src='/assets/cellphone_2-1-540x320.jpg', alt='cellphone_2')
            a.link--neutral.content(href='http://www.avegagroup.se/vad-vi-gor/kundunika-losningar/')
              h3.heading--2.color--orange Kundunika l&ouml;sningar
              p
                | Vi arbetar med alla aspekter av utveckling med hj&auml;lp av teknik &ndash; fr&aring;n analys och kravst&auml;llning till arkitektur och systemutveckling.
              p
                | Med v&aring;r spetskompetens inom systemutveckling, arkitektur och infrastruktur bidrar vi till att realisera framtidens digitala l&ouml;sningar.
              p.text--right
                strong.link.icon-arrow-right.icon--after L&auml;s mer
        aside#aside
          img(src='/assets/reception.jpg')
          section.card.bg--orange.color--white
            h2
              img(src='/assets/11-matchningsprincipen.svg')
              |
              strong Matchningsprincipen
            p
              | Avega Groups matchningsprincip &auml;r ett l&ouml;fte om att Avega Group i alla l&auml;gen str&auml;var efter att n&aring; 100 procent matchning mellan v&aring;ra konsulters kompetenser och v&aring;ra kunders utmaningar. Detta inneb&auml;r att v&aring;ra konsulter alltid &auml;r med och v&auml;ljer sitt uppdrag och att kunden alltid kan f&ouml;rv&auml;nta sig en engagerad och intresserad konsult som brinner f&ouml;r uppdraget.
        section#latest-vacancies.container--large.group--x-large.card.bg--white.card--half.two-col-card.two-col-card--dark
          h2.group--large Lediga tj&auml;nster
          div
            article
              img.attachment-sleek-medium.size-sleek-medium.wp-post-image(width='540', height='320', src='/assets/konferens-kopia-540x320.jpg', alt='konferens')
              a.color--white(href='http://www.avegagroup.se/lediga-tjanster/avega-vaxer-inom-integration-och-soker-duktiga-integrationsutvecklare-och-arkitekter/')
                h3
                  | Avega v&auml;xer inom integration och s&ouml;ker duktiga integrationsutvecklare och arkitekter
                p
                  | Standardplattformar
                  br
                  |  Stockholm
                |
                span.button.button--white.icon-arrow-right.icon--after L&auml;s mer
            article
              img.attachment-sleek-medium.size-sleek-medium.wp-post-image(width='540', height='320', src='/assets/sunset-over-dinner-nice.jpg', xsrc='/assets/crowd-hires-540x320.jpg', alt='crowd-hires')
              a.color--white(href='http://www.avegagroup.se/lediga-tjanster/ar-du-riktigt-duktig-inom-bianalytics-och-vill-vara-med-och-ta-fram-losningar-som-ligger-framkant/')
                h3
                  | &Auml;r du riktigt duktig inom BI/Analytics och vill vara med och ta fram l&ouml;sningar som ligger i framkant?
                p
                  | Business Intelligence
                  br
                  |  G&ouml;teborg, Stockholm
                |
                span.button.button--white.icon-arrow-right.icon--after L&auml;s mer
          p.text--right
            a.button.button--red.icon-arrow-right.icon--after(href='http://www.avegagroup.se/jobba-har/') Se fler lediga tj&auml;nster

    aside#pre-footer.section.bg--gray.text--center
      #widget-nav_menu-6.widget_nav_menu
        h2 &Auml;r du redo att komma i kontakt med oss?
        ul#menu-contact-menu.menu
          li.menu-ja-ta-mig-till-kontaktsidan
            a(href='http://www.avegagroup.se/kontakta-oss/') Ja! Ta mig till kontaktsidan
          li.menu-till-karriarsidan
            a(href='http://www.avegagroup.se/jobba-har/') Till karri&auml;rsidan

    footer#footer.section.bg--darkgray.color--white.text--center
      p.site-logo
        a(href='http://www.avegagroup.se/')
          svg#Layer_1(aria-label='Avega Group', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 330 40.1')
            style.
              .st0{clip-path:url(#SVGID_2_)}.st1,.st2,.st3{clip-path:url(#SVGID_4_)}.st2,.st3{fill:#a90a2e}.st3{fill:#c6c6c6}
            g#Artwork_1
              defs
                path#SVGID_1_(d='M0 0h330v40.1H0z')
              clippath#SVGID_2_
                use(xlink:href='#SVGID_1_', overflow='visible')
              g.st0
                defs
                  path#SVGID_3_(d='M0 0h330v40.1H0z')
                clippath#SVGID_4_
                  use(xlink:href='#SVGID_3_', overflow='visible')
                path.st1(d='M30.7 6.1c-.9-1.7-2.2-3-4-3.8C25 1.4 22.8 1 20.1 1h-2.9v27.1H32V12.6c0-2.6-.4-4.8-1.3-6.5M8.9 13.8c-.9 0-1.6-.1-2.3-.4-.7-.2-1.5-.7-2.3-1.3-1 .7-1.8 1.4-2.4 2.2C.6 15.8 0 17.6 0 19.7c0 1.2.2 2.3.7 3.3.4 1.1 1.1 1.9 1.9 2.6.8.7 1.7 1.3 2.9 1.8 1.1.4 2.3.7 3.6.7h5V11.5c-.8.8-1.6 1.4-2.4 1.8-.9.3-1.8.5-2.8.5')
                path.st2(d='M11.4 1.7c-.8-.4-1.7-.7-2.7-.7-1 0-1.9.3-2.7.8-.8.5-1.5 1.1-2 2-.5.8-.8 1.7-.8 2.7 0 1 .2 1.9.7 2.7.5.9 1.2 1.5 2 2 .9.6 1.8.8 2.8.8 1 0 1.9-.2 2.7-.7.9-.5 1.5-1.2 2-2s.7-1.7.7-2.8c0-1-.2-2-.7-2.8-.5-.8-1.1-1.5-2-2')
                path.st1(d='M173.7 6.1c-.9-1.7-2.2-3-4-3.8-1.8-.8-4-1.3-6.6-1.3h-2.9v27.1H175V12.6c0-2.6-.4-4.8-1.3-6.5M137.5 30.4c-.9 1.7-2.2 3-4 3.8-1.8.8-4 1.3-6.6 1.3H124V1h14.8v22.9c0 2.6-.4 4.8-1.3 6.5M151.9 13.8c-.9 0-1.6-.1-2.3-.4-.7-.2-1.5-.7-2.3-1.3-1 .7-1.8 1.4-2.4 2.2-1.2 1.5-1.9 3.3-1.9 5.3 0 1.3.2 2.4.7 3.3.4 1.1 1.1 1.9 1.9 2.6.8.7 1.7 1.3 2.9 1.8 1.1.4 2.3.7 3.6.7h5V11.5c-.8.8-1.6 1.4-2.4 1.8-.9.3-1.8.5-2.8.5')
                path.st1(d='M154.4 1.7c-.9-.5-1.8-.7-2.7-.7-.9 0-1.9.2-2.7.7-.8.5-1.5 1.1-2 2-.5.9-.7 1.8-.7 2.7 0 1 .2 1.9.7 2.7.5.9 1.2 1.5 2 2 .9.5 1.8.7 2.7.7 1 0 1.9-.2 2.7-.7.9-.5 1.5-1.2 2-2s.7-1.7.7-2.8c0-1-.2-2-.7-2.8-.5-.6-1.1-1.3-2-1.8M118.9.8c-7.6 0-13.7 6.1-13.7 13.7s6.1 13.7 13.7 13.7h1.8V.8h-1.8zM103 14.4C102.9 6.9 96.8.8 89.3.8h-.9v13.6H103z')
                path.st1(d='M100.9 18.2c-1.5 5.1-6.3 8.8-12 8.8h-3.5V.8h-1.2c-7.6 0-13.7 6.1-13.7 13.7s6.1 13.7 13.7 13.7h5.2c6.5 0 12-4.1 13.4-9.6l-1.9-.4zM69.7 1H54.2L62 20.5zM50.5 1H34.7l10.7 27.1H59l1.2-3.1z')
                path.st3(d='M295 1.2 292.6 15c-.3 1.8-.9 3.6-1.7 4.9-1.9 3.2-5.6 5.5-8.9 5.5-1.5 0-2.8-.5-3.7-1.3-.9-.9-1.3-2.1-1.3-3.7 0-1.4.1-3.4.4-5.1l2.4-14.1h-4.2l-2.8 16.7c-.2 1.1-.2 2.1-.2 2.9 0 4.9 3.1 8 8.1 8h.3c4.3 0 7.7-2 10.5-5.9l.3.1c-.6 1.3-.8 1.9-.9 2.7v.2l-.4 2h4.1l4.5-26.7H295zM216.1 1.2l-.4 2.5c-.1.5-.1 1.2-.1 1.6 0 .9 0 .9.1 1.5l-.3.1C213.7 2.4 210.5 0 206 0h-.2C198.1 0 192 7.1 192 16.2c0 2.5.7 5.3 1.8 7.3 1.9 3.4 5.2 5.2 9.6 5.2 3.4 0 6.2-1.4 8.7-5.1l.3.1c-1.1 9.5-3.8 13-9.9 13h-.1c-3.7 0-6.1-1.8-6.8-5.2h-4.8c.4 5 5.1 8.4 11.9 8.4 4.3 0 8.2-1.7 10.2-4.6 1.4-2 2.4-4.6 3-8.5L220.3 1h-4.2zM196.4 16c0-7.1 4.4-12.9 10-12.9 2.3 0 4.2.9 5.6 2.5 1.4 1.6 2.1 3.9 2.1 6.5 0 7.2-4.6 13.3-10.3 13.3-4.4.1-7.4-3.9-7.4-9.4M240.2.1h-.3c-4.4 0-7.6 2.2-10.4 7l-.2-.1c.6-1.6.8-2.4 1-3.3v-.2-.1l.3-2.2h-4.1L222 27.9h4.2l2.3-13.5c.5-3.1 1.6-5.4 3.7-7.1 2.1-1.8 5.1-3 7.4-3 .5 0 .8 0 1.3.1l.7-4c-.7-.2-1-.3-1.4-.3M319.1.1h-.3c-4 0-6.7 1.5-9.2 4.9l-.3-.1c.5-1.1.7-1.6.7-2 0-.1.1-.3.1-.4l.3-1.3h-4.2l-6.5 38.5h4.2l1.5-8.7c.6-4 .7-4.9 1-8.5l.3-.1c1.6 4.1 4.7 6.3 8.9 6.5h.8c4.5 0 7.8-1.9 10.4-5.9 2-3.1 3.2-7.1 3.2-10.6C330 4.7 325.9.1 319.1.1m-3.3 25.4c-2.4 0-4.5-.9-5.9-2.5-1.4-1.6-2.2-3.9-2.2-6.7 0-2.6.8-5.5 2.1-7.7 1.9-3.3 4.8-5.1 8.3-5.1 2.2 0 4.1.9 5.5 2.4 1.4 1.5 2.1 3.7 2.1 6.2.1 7.6-4.1 13.4-9.9 13.4M240.6 16.1c0 7.9 4.8 12.8 12.4 12.8 9.2 0 15.7-6.9 15.7-16.7 0-7.1-5.2-12.1-12.6-12.1-3.7 0-7 1.1-9.6 3.1-3.4 2.8-5.9 8.1-5.9 12.9m7.6-9c2-2.3 4.8-3.7 8-3.7 4.8 0 8.3 4 8.3 9.2 0 7.4-4.9 13.1-11.3 13.1-2.5 0-4.6-.9-6.1-2.5-1.4-1.6-2.2-4-2.2-6.9.1-3.7 1.3-6.9 3.3-9.2')
      section#all-offices-small
        article
          h3 Stockholm
          p
            | Grev Turegatan 11A
            br
            |  114 46 Stockholm
        article
          h3 V&auml;st
          p
            | &Ouml;stra Larmgatan 15
            br
            |  411 07 G&ouml;teborg
        article
          h3 &Ouml;resund
          p
            | Nordenski&ouml;ldsgatan 6
            br
            |  211 19 Malm&ouml;
      p Copyright 2017 (c) All rights reserved.
    script(type='text/javascript', src='/assets/jquery.min.js')
    script(type='text/javascript', src='/assets/jquery.form.min.js')
    script(type='text/javascript', src='/assets/scripts.js')

    block scripts
