extends ../index

block main
  main
    section#post
      header.hero--small.hero--small--covered(style='background-image: url(/assets/artikel_sap_thomasa.jpg)')
        .container
          h1 Global PLM plattform p&aring; Sandvik Machining Solutions
          p  SAP | 28 oktober, 2016 | Thomas Andersson
      .container.group--x-large.on-top-of-hero.primary-secondary(role='toolbar')
        article.card.bg--white.card--heading-offset.page-content
          p
            | Sandvik Machining Solutions skapar en global PLM-plattform f&ouml;r att uppn&aring; b&auml;ttre sp&aring;rbarhet och kontroll &ouml;ver produktinformation.
          p
            | L&auml;s mer i senaste SAPSA Nytt, d&auml;r Avega Groups konsult Thomas Andersson skrivit en artikel om detta!
          h3
            span(style='text-decoration: underline;')
              a(href='http://www.e-magin.se/v5/viewer/files/viewer_s.aspx?gKey=0n5sr4cd&gInitPage=32', target='_blank') SAPSAnytt!
          hr
          nav#social-media-buttons
            h3 Dela inl&auml;gg:
            ul.list--inline
              li
                a.icon-facebook.icon--facebook(href='//www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.avegagroup.se%2Fblogg%2Fglobal-plm-plattform-pa-sandvik-machining-solutions%2F&t=Global+PLM+plattform+p%C3%A5+Sandvik+Machining+Solutions+-+Avega+Group', target='_blank', title='Facebook')
              li
                a.icon-twitter.icon--twitter(href='//twitter.com/intent/tweet?url=http%3A%2F%2Fwww.avegagroup.se%2Fblogg%2Fglobal-plm-plattform-pa-sandvik-machining-solutions%2F&text=Global+PLM+plattform+p%C3%A5+Sandvik+Machining+Solutions+-+Avega+Group', target='_blank', title='Twitter')
              li
                a.icon-linkedin.icon--linkedin(href='//www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.avegagroup.se%2Fblogg%2Fglobal-plm-plattform-pa-sandvik-machining-solutions%2F&title=Global+PLM+plattform+p%C3%A5+Sandvik+Machining+Solutions+-+Avega+Group&summary=&source=http://www.avegagroup.se/', target='_blank', title='LinkedIn')
          |
          a.icon-arrow-left(href='http://www.avegagroup.se/blogg/') Visa alla blogginl&auml;gg
        aside
          section#post-author.card.card--small.bg--orange.color--white
            h2.profile-picture
              img.avatar.avatar-320.wp-user-avatar.wp-user-avatar-320.alignnone.photo(src='/assets/thomas-andersson-320x320.jpg', width='320', height='320', alt='Thomas Andersson')
              |  Thomas Andersson
            p Konsult p&aring; Avega Group och f&ouml;rfattare till artikeln.
            p
          section#latest-events.card.card--small.bg--red.color--white.slick-initialized.slick-slider.slick-dotted(data-slideshow='')
            .slick-list.draggable(aria-live='polite', style='height: 221px;')
              .slick-track(role='listbox', style='opacity: 1; width: 1450px; transform: translate3d(-290px, 0px, 0px);')
                article.slick-slide.slick-cloned(data-slick-index='-1', aria-hidden='true', tabindex='-1', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/safe-4-0-product-managerproduct-owner-with-pmpo-certification-25-26april/', tabindex='-1') SAFe&reg; 4.0 Product Manager/Product Owner with PMPO Certification
                  p.text--right.color--yellow
                    time 25 april, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
                article.slick-slide.slick-current.slick-active(data-slick-index='0', aria-hidden='false', tabindex='-1', role='option', aria-describedby='slick-slide00', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/foundations-scaled-agile-framework-safe/', tabindex='0') Foundations of the Scaled Agile Framework&reg; (SAFe&trade;)
                  p.text--right.color--yellow
                    time 22 mars, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='0') Till alla event
                article.slick-slide(data-slick-index='1', aria-hidden='true', tabindex='-1', role='option', aria-describedby='slick-slide01', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/implementing-safe-4-0-with-spc4-certification/', tabindex='-1') Implementing SAFe 4.0 with SPC4 Certification
                  p.text--right.color--yellow
                    time 4 april, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
                article.slick-slide(data-slick-index='2', aria-hidden='true', tabindex='-1', role='option', aria-describedby='slick-slide02', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/safe-4-0-product-managerproduct-owner-with-pmpo-certification-25-26april/', tabindex='-1') SAFe&reg; 4.0 Product Manager/Product Owner with PMPO Certification
                  p.text--right.color--yellow
                    time 25 april, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
                article.slick-slide.slick-cloned(data-slick-index='3', aria-hidden='true', tabindex='-1', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/foundations-scaled-agile-framework-safe/', tabindex='-1') Foundations of the Scaled Agile Framework&reg; (SAFe&trade;)
                  p.text--right.color--yellow
                    time 22 mars, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
            ul.slick-dots(role='tablist', style='display: block;')
              li#slick-slide00.slick-active(aria-hidden='false', role='presentation', aria-selected='true', aria-controls='navigation00')
                button(type='button', data-role='none', role='button', tabindex='0') 1
              li#slick-slide01(aria-hidden='true', role='presentation', aria-selected='false', aria-controls='navigation01')
                button(type='button', data-role='none', role='button', tabindex='0') 2
              li#slick-slide02(aria-hidden='true', role='presentation', aria-selected='false', aria-controls='navigation02')
                button(type='button', data-role='none', role='button', tabindex='0') 3
