extends ../index

block main
  main
    section#post
      header.hero--small.hero--small--covered(style='background-image: url(/assets/griffeltavla-lampor-krita_1280.jpg)')
        .container
          h1 Skapa dialog med hj&auml;lp av bilder &ndash; om v&auml;rdet av visualisering
          p  Krav och test | 3 november, 2016 | Johanna Romin
      .container.group--x-large.on-top-of-hero.primary-secondary(role='toolbar')
        article.card.bg--white.card--heading-offset.page-content
          p
            strong
              | Man brukar s&auml;ga att en bild s&auml;ger mer &auml;n tusen ord. Jag skulle ist&auml;llet vilja p&aring;st&aring; att en bild skapar tusen ord. En bild &auml;r s&auml;llan tillr&auml;cklig; den st&aring;r inte f&ouml;r sig sj&auml;lv. D&auml;remot s&aring; visar den p&aring; att vi beh&ouml;ver kommunicera kring n&aring;got. Bilden skapar fr&aring;gor och diskussion &ndash; en dialog.
          p
            | Jag fascineras dagligen av vilken kraft visualisering har. Bilder, modeller, skisser &amp; diagram. Jag anv&auml;nder det hela tiden i mitt arbete som Business Analyst och jag t&auml;nker ofta p&aring; hur det underl&auml;ttar samarbete och kommunikation.
          p
            | Tidigare visualiserade jag mest n&auml;r &rdquo;metoden&rdquo; sa att jag skulle skapa n&aring;gon typ av modell eller diagram. P&aring; senare &aring;r har jag b&ouml;rjat arbeta mer aktivt med bilder och mer medvetet haft det som genomg&aring;ende tanke.
          p
            | Egentligen kommer det mycket ur mitt eget behov. Jag &auml;r v&auml;ldigt visuellt lagd, n&auml;stan med dragning till fotografiskt minne. Jag beh&ouml;ver alltid se n&aring;gonting f&ouml;r att f&ouml;rst&aring;. Mitt behov av att skapa en helhetsbild och f&ouml;rst&aring; ett sammanhang f&ouml;r att kunna skapa mig en uppfattning om n&aring;got har helt enkelt gjort att jag har b&ouml;rjat rita mer.
          p
            | Och i och med ritandet har jag b&ouml;rjat se vilken effekt visualisering har &ndash; att det &auml;ven ger andra ett v&auml;rde! Att visualisera &auml;r verkligen en katalysator f&ouml;r kommunikation.
          h3
            strong Bilden &ouml;ppnar upp dialogen
          p
            | I projekt och uppdrag jag har jobbat i har jag g&aring;ng p&aring; g&aring;ng upplevt att jag tagit fram skisser och modeller f&ouml;r min egen skull som senare andra b&ouml;rjat anv&auml;nda. Jag har f&aring;tt h&ouml;ra repliker som &rdquo;oj, den h&auml;r helheten har ingen annan lyckats f&aring;nga&rdquo; och &rdquo;jaha, det h&auml;r perspektivet hade jag missat&rdquo;. Och framf&ouml;rallt saker som &rdquo;nej, den h&auml;r delen fungerar p&aring; ett annat s&auml;tt&rdquo; eller &rdquo;det h&auml;r &auml;r bra, men detta &auml;r faktiskt helt fel, det ska ist&auml;llet vara s&aring;h&auml;r&rdquo;.
          p
            | Jag har sett mina bilder upptejpade vid arbetsplatsen hos personer som jag minst anat hade tagit till sig mina f&ouml;rs&ouml;k att &aring;sk&aring;dligg&ouml;ra ett problem. D&aring; k&auml;nde jag att jag verkligen hade n&aring;tt fram!
          h3
            strong Bilden skapar v&auml;rde &ndash; &auml;ven om den &auml;r fel
          p
            | Jag skulle vilja s&auml;ga att en bild alltid skapar v&auml;rde &ndash; oavsett om den &auml;r r&auml;tt eller fel. V&auml;rdet &auml;r ju inte bilden i sig, utan den dialog som skapas!
          p
            | Med en bild kan vi &auml;ven l&auml;ttare skilja p&aring; sak och person. Vi har mycket l&auml;ttare att h&aring;lla oss objektiva till en fr&aring;gest&auml;llning om vi har en bild att peka p&aring; i diskussionen.
          p
            img.alignnone.wp-image-406(src='/assets/artikel_jromin.jpg', alt='artikel_jromin', width='250', height='181')
            img.alignnone.wp-image-408(src='/assets/artikel_johannar.jpg', alt='artikel_johannar', width='250', height='184')
          p
            img.alignnone.wp-image-409(src='/assets/artikel_johanna.jpg', alt='artikel_johanna', width='250', height='188')
            img.alignnone.wp-image-410(src='/assets/artikel_johannaromin.jpg', alt='artikel_johannaromin', width='250', height='189')
          p
            em (L&aring;nad visualisering av Jeff Patton.)
          h3
            strong V&aring;ga prova!
          p
            | Om ni sitter i ett team d&auml;r inte alla har en gemensam f&ouml;rst&aring;else &ndash; eller d&auml;r man tror att man har en gemensam f&ouml;rst&aring;else men kanske inte har det &ndash; s&aring; vill jag verkligen rekommendera er att prova att anv&auml;nda bilder! S&auml;tt ig&aring;ng att rita!
          p
            em
              | L&aring;ter det sp&auml;nnande att b&ouml;rja visualisera mera? Inom kort kommer jag att dela med mig av mina b&auml;sta tips f&ouml;r att komma ig&aring;ng!
          hr
          nav#social-media-buttons
            h3 Dela inl&auml;gg:
            ul.list--inline
              li
                a.icon-facebook.icon--facebook(href='//www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.avegagroup.se%2Fblogg%2Fskapa-dialog-med-hjalp-av-bilder%2F&t=Skapa+dialog+med+hj%C3%A4lp+av+bilder+%E2%80%93+om+v%C3%A4rdet+av+visualisering+-+Avega+Group', target='_blank', title='Facebook')
              li
                a.icon-twitter.icon--twitter(href='//twitter.com/intent/tweet?url=http%3A%2F%2Fwww.avegagroup.se%2Fblogg%2Fskapa-dialog-med-hjalp-av-bilder%2F&text=Skapa+dialog+med+hj%C3%A4lp+av+bilder+%E2%80%93+om+v%C3%A4rdet+av+visualisering+-+Avega+Group', target='_blank', title='Twitter')
              li
                a.icon-linkedin.icon--linkedin(href='//www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.avegagroup.se%2Fblogg%2Fskapa-dialog-med-hjalp-av-bilder%2F&title=Skapa+dialog+med+hj%C3%A4lp+av+bilder+%E2%80%93+om+v%C3%A4rdet+av+visualisering+-+Avega+Group&summary=&source=http://www.avegagroup.se/', target='_blank', title='LinkedIn')
          |
          a.icon-arrow-left(href='http://www.avegagroup.se/blogg/') Visa alla blogginl&auml;gg
        aside
          section#post-author.card.card--small.bg--orange.color--white
            h2.profile-picture
              img.avatar.avatar-320.wp-user-avatar.wp-user-avatar-320.alignnone.photo(src='/assets/johanna-romin-320x320.jpg', width='320', height='320', alt='Johanna Romin')
              |  Johanna Romin
            p Senior Business Analyst, Kravledare, Verksamhetsarkitekt och Jazzs&aring;ngerska
            p Johanna brinner f&ouml;r att skapa fungerande kommunikation mellan aff&auml;r och IT.
            p
          section#latest-events.card.card--small.bg--red.color--white.slick-initialized.slick-slider.slick-dotted(data-slideshow='')
            .slick-list.draggable(aria-live='polite', style='height: 221px;')
              .slick-track(role='listbox', style='opacity: 1; width: 1450px; transform: translate3d(-290px, 0px, 0px);')
                article.slick-slide.slick-cloned(data-slick-index='-1', aria-hidden='true', tabindex='-1', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/safe-4-0-product-managerproduct-owner-with-pmpo-certification-25-26april/', tabindex='-1') SAFe&reg; 4.0 Product Manager/Product Owner with PMPO Certification
                  p.text--right.color--yellow
                    time 25 april, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
                article.slick-slide.slick-current.slick-active(data-slick-index='0', aria-hidden='false', tabindex='-1', role='option', aria-describedby='slick-slide00', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/foundations-scaled-agile-framework-safe/', tabindex='0') Foundations of the Scaled Agile Framework&reg; (SAFe&trade;)
                  p.text--right.color--yellow
                    time 22 mars, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='0') Till alla event
                article.slick-slide(data-slick-index='1', aria-hidden='true', tabindex='-1', role='option', aria-describedby='slick-slide01', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/implementing-safe-4-0-with-spc4-certification/', tabindex='-1') Implementing SAFe 4.0 with SPC4 Certification
                  p.text--right.color--yellow
                    time 4 april, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
                article.slick-slide(data-slick-index='2', aria-hidden='true', tabindex='-1', role='option', aria-describedby='slick-slide02', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/safe-4-0-product-managerproduct-owner-with-pmpo-certification-25-26april/', tabindex='-1') SAFe&reg; 4.0 Product Manager/Product Owner with PMPO Certification
                  p.text--right.color--yellow
                    time 25 april, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
                article.slick-slide.slick-cloned(data-slick-index='3', aria-hidden='true', tabindex='-1', style='width: 290px;')
                  h2.heading--3
                    small Externt event
                    |  Senaste fr&aring;n Elevate
                  h3.text--center
                    a(href='http://www.avegagroup.se/event/foundations-scaled-agile-framework-safe/', tabindex='-1') Foundations of the Scaled Agile Framework&reg; (SAFe&trade;)
                  p.text--right.color--yellow
                    time 22 mars, 2017
                  p.text--center
                    a.button.button--white.button--ghost.icon-arrow-right.icon--after(href='http://www.avegagroup.se/event/', tabindex='-1') Till alla event
            ul.slick-dots(role='tablist', style='display: block;')
              li#slick-slide00.slick-active(aria-hidden='false', role='presentation', aria-selected='true', aria-controls='navigation00')
                button(type='button', data-role='none', role='button', tabindex='0') 1
              li#slick-slide01(aria-hidden='true', role='presentation', aria-selected='false', aria-controls='navigation01')
                button(type='button', data-role='none', role='button', tabindex='0') 2
              li#slick-slide02(aria-hidden='true', role='presentation', aria-selected='false', aria-controls='navigation02')
                button(type='button', data-role='none', role='button', tabindex='0') 3
